/* estilos de experiencia de usuario */
.caja {
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Centra verticalmente los elementos */
}

.portada img{
    width: 100%;
    height: 600px;
}
 
.titulo h1{
    text-align: center;
    padding: auto;
}

.titulo p{
    text-align: center;
    padding: auto;
    height: 50px;
}

.texto {
    flex: 0.5; /* Permite que el texto ocupe el espacio restante */
    border: 3px solid black;
    text-align: center;
    margin: 5px;
    padding: 5px;
    height: 200px;
}
  
.video {
    text-align: center;
    padding: 5px;
}

/* estilos de experiencia de usuario */
