/* styles.css */
body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.img{
  height: 700px;
}
  
header, nav, section, footer {
  padding: 20px;
}
  
header {
  background-color: #fff;
  border: 3px solid black;
}
  
nav {
  background-color: #fff;

}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
nav ul li {
  display: inline;
  margin-right: 10px;
}
  
nav ul li a {
  color: black;
}

iframe{
  padding-top: 80px;
  padding-bottom: 80px;
  align-self: center;

}

.caja1 {
  background-color: #fff;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
}

.caja2 {
  background-color:#fff;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
}

.caja3 {
  background-color: #fff;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
}

.caja4 {
  background-color: #fff;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
}

.caja5 {
  background-color: #fff;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
}
  
section {
  margin-bottom: 20px;
  flex: 1;
  padding: 20px;
}


footer {
  background-color: black;
  color: #fff;
  text-align: center;
  bottom: 0;

}

.footer-icons {
  font-size: 20px;
}
